.red {
    color: #ff0000;
    -fx-background-color: #ff0000;
    }
.green {
    color: #00ff00;
    -fx-background-color: #00ff00;
}
.blue {
    color: #0000ff;
    -fx-background-color: blue;
}
.plum {
    -fx-background-color: Plum;
}
.purple {
    -fx-background-color: Purple;
}
.BlueViolet {
    border-radius: 20px;
    -fx-background-color: rgb(187, 110, 218);
}
.parent {
    -fx-background-color: transparent;
}
.Menu {
    -fx-background-image :url('file:D:/Hoc_Tap/Ngon_ngu_Java/MochaMP-master(test)/src/main/image/2x/outline_menu_white_18dp.png');
    -fx-background-color: rgb(187, 110, 218);
}
.Find {
    -fx-background-image :url('file:D:/Hoc_Tap/Ngon_ngu_Java/MochaMP-master(test)/src/main/image/2x/outline_search_white_18dp.png');
    -fx-background-color: rgb(187, 110, 218);
}
.Play {
    -fx-background-image :url('file:D:/Hoc_Tap/Ngon_ngu_Java/MochaMP-master(test)/src/main/image/2x/outline_play_circle_filled_white_18dp.png');
    -fx-background-color: rgb(187, 110, 218);
}
.playing_song_border {
    -fx-border-color: DarkOrchid;
    -fx-border-radius: 10;
    -fx-border-width: 3;
}
.Pause_18 {
    -fx-background-image :url('file:D:/Hoc_Tap/Ngon_ngu_Java/MochaMP-master(test)/src/main/image/2x/outline_pause_circle_filled_white_18dp.png');
    -fx-background-color: rgb(187, 110, 218);
}
.dot {
    -fx-background-image :url('file:D:/Hoc_Tap/Ngon_ngu_Java/MochaMP-master(test)/src/main/image/2x/outline_more_vert_white_18dp.png');
    -fx-background-color: rgb(187, 110, 218);
}
.white {
    -fx-background-color: White;
}
.black {
    -fx-background-color: Black;
}
.black {
    -fx-background-color: Black;
}
.indigo {
    -fx-background-color: Indigo;
}
.slateblue {
    -fx-background-color: SlateBlue;
}
.orchid {
    -fx-background-color: Orchid;
}
.mediumPurple {
    -fx-background-color: MediumPurple;
}
.mediumOrchid {
    -fx-background-color: MediumOrchid;
}
.none {
    -fx-background-color: none;
}
.DarkOrchid {
    -fx-background-color: DarkOrchid;
}
.DarkViolet {
    -fx-background-color: DarkViolet;
}
.DarkSlateBlue {
    -fx-background-color: DarkSlateBlue;
}
