* {
        -primary : #A97BD1;
        -primary-dark : #8E62B5;
        -primary-darker: #8158a6;
        -accent : #DAF578;
        -accent-bright: #ecffa6;
        -white: #FBE3FF;
    }

.panel {
    -fx-background-color: linear-gradient(to bottom, -primary, -primary-dark);
    -fx-background-radius: 10
}

.slider .track {
    -fx-background-radius: 0;
    -fx-background-color: -primary-darker;
    -fx-pref-height: 12px;
}

.slider .thumb {
    -fx-background-color: linear-gradient(to right, -accent, -accent-bright);
    -fx-background-radius: 0;
    -fx-pref-width: 3px;
    -fx-pref-height: 12px;
}