* {
        -dark-skin : rgb(32, 31, 31);
        -dark-skin-light : rgb(60, 60, 60);
        -primary : #A97BD1;
        -primary-dark : #8E62B5;
        -primary-darker: #8158a6;
        -accent : #DAF578;
        -accent-bright: #ecffa6;
        -white: #FBE3FF;
    }

.panel {
    -fx-background-color: linear-gradient(to bottom, -primary, -primary-dark);
    -fx-background-radius: 10
}

.panel-dark {
    -fx-background-color: -dark-skin;
    -fx-background-radius: 10
}

.dialog-panel {
    -fx-background-color: linear-gradient(to bottom, -primary, -primary-dark);
}

.bg-shuffle {
    -fx-background-image: url('shuffle.png');
}

.bg-loop-all {
    -fx-background-image: url('loop-all.png');
}

.bg-loop-one {
    -fx-background-image: url('loop-one.png');
}

.bg-save-playlist {
    -fx-background-image :url('save-playlist.png');
}

.bg-open-playlist {
    -fx-background-image :url('open-playlist.png');
}

.bg-settings {
    -fx-background-image :url('settings.png');
}

.bg-open-files {
    -fx-background-image :url('open-files.png');
}

.bg-rps {
    -fx-background-image :url('rps.png');
}

.bg-dot {
    -fx-background-image :url('dot.png');
}

.bg-x {
    -fx-background-image :url('close.png');
}

.bg-trash {
    -fx-background-image :url('trash.png');
}

.txt-btn {
    -fx-background-color: -white;
}

.txt-btn:hover {
    -fx-background-color: linear-gradient(to right, -accent, -accent-bright);
    -fx-cursor: hand;
}

.btn-img {
    -fx-background-position: center, center;
    -fx-background-size: contain;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.5;
}

.btn-img:hover, .btn-img-alt:hover {
    -fx-opacity: 0.8;
    -fx-cursor: hand;
}

.btn-img-alt {
    -fx-background-position: center, center;
    -fx-background-size: contain;
    -fx-background-color: -primary-darker;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.5;
    -fx-padding: 3 20 3 20
}

/* ===================== */

.slider .track {
    -fx-background-radius: 0;
    -fx-background-color: -primary-darker;
    -fx-pref-height: 12px;
}

.slider.progressbar-dark .track {
    -fx-background-radius: 0;
    -fx-background-color: -dark-skin-light;
    -fx-pref-height: 12px;
}

.slider .thumb {
    -fx-background-color: linear-gradient(to right, -accent, -accent-bright);
    -fx-background-radius: 0;
    -fx-pref-width: 3px;
    -fx-pref-height: 12px;
}

.scroll-pane.panel > .viewport{
   -fx-background-color: -primary;
}

.scroll-pane.panel-dark > .viewport{
   -fx-background-color: -dark-skin-light;
}

.dialog-pane:header .header-panel .label {
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-padding: 0 0 ;
}

.dialog-pane:header .header-panel{
    -fx-background-color: transparent;
    -fx-padding: 5 5;
}
